@import 'config/config';

@mixin container ($h: 100%, $w: 100%, $m: 0, $p: 0) {
    width: $h;
    height: $w;
    margin: $m;
    padding: $p;
}

@mixin generate__font ($fs, $font: $headings__font) {
    font-family: $font;
    font-size: $fs;
}
