
/*=========================*\
  #VUE TRANSITIONS
\*=========================*/

/*............FADE............*/
.fade-enter-active {
    transition: opacity 0.8s;
}

.fade-leave-active {
    transition: opacity 0.3s
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/*............LONG-FADE............*/
.fade--long-enter-active {
    transition: opacity 3s;
}

.fade--long-leave-active {
    transition: opacity 1s
}

.fade--long-enter,
.fade-leave-to {
    opacity: 0;
}

/*............SLIDE-FADE............*/
.slide-fade-enter-active {
    transition: all 0.8s ease;
    transition-delay: 0.4s;
}

.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(5rem);
    opacity: 0;
}