.Weather {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    transition: all 1s ease;
    color: #204775;
    text-align: center;
    font-size: 1.3rem;
    display: grid;
    height: 100%;
    width: 100%;
}

.Weather .IconsSvg {
    height: 100%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    padding: 2rem;
    justify-items: center;
    text-align: center;
    height: 38vh;
}
/*............POSIBLE BACKGROUNDS DEPENDING ON ICON............*/
.Weather__data {
    padding-top: 2rem;
    grid-column: 4 / -1;
    grid-row: 2;
}

.Weather__data--sum {
    font-size: 1.6em;
    margin: 0.7rem 0;
}

.Weather .ProjectHeader {
    font-family: "Oswald", sans-serif;
}

.Weather__data--temp {
    font-size: 2.2em;
}

/*............NIGHT............*/
.Weather__night {
    background-color: #0b1a2c;
    color: #f2f2f2;
}

.Weather__night .button__small {
    background-color: #0b1a2c;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
}

.Weather__night .button__small:hover {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    color: #0b1a2c;
}

/*............MEDIA QUERIES............*/
@media only screen
and (min-device-width: 320px)
and (orientation: portrait) {

    .Weather {
        padding: 0.4rem;
        grid-gap: 0.2rem;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }

    .Weather .ProjectHeader {
        font-size: 0.7em;
    }

    .Weather .IconsSvg {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        padding: 0.2rem;
        height: 23vh;
    }

    .Weather__data {
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
    }

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (orientation: landscape) {

    .Weather {
        padding: 0.4rem;
        grid-gap: 0.2rem;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, auto);
    }

    .Weather .ProjectHeader {
        font-size: 0.8em;
        grid-column: 1 / -1;
    }

    .Weather .IconsSvg {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        padding: 0;
        height: 23vh;
    }

    .Weather__data {
        grid-column: 2 / -1;
        grid-row: 2 / span 2;
        padding: 0;
    }

}
